<div class="questions-page">
  <app-navbar></app-navbar>
  <div class="questions-page-container">
    <div class="unanswered-questions">
      <h2>Unanswered Questions</h2>
      <app-question-list [questions]="(unansweredQuestions$ | async) ?? []" [showOptions]="false" [showAnswerButtons]="true" [showActions]="false" ></app-question-list>
    </div>
  
    <div class="answered-questions">
      <h2>Answered Questions</h2>
      <app-question-list [questions]="(answeredQuestions$ | async) ?? []" [showAnswerButtons]="true" [showOptions]="false" [showActions]="false"></app-question-list>
    </div>
  </div>
</div>