<div class="questions-container">
  <div *ngFor="let question of questions">
    <mat-card class="question-card">
      <mat-card-header class="card-header">
        <mat-card-title class="card-title">{{ question.questionText }}</mat-card-title>
        <mat-card-subtitle>{{ question.createdAt | date: 'MMM dd, yyyy HH:mm' : 'UTC+2' }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="card-content">
        <p>Type: {{ question.questionType | titlecase }}</p>
        <p class="answer-text" *ngIf="question.answered && showAnswers">Answer: {{ question.answer }}</p>
        <p class="options-text" *ngIf="showOptions && question.options">
          Options: {{ question.options.join(', ') }}
        </p>
        <form *ngIf="!question.answered && showAnswerForm" [formGroup]="answerForms[question.id]">
          <div *ngIf="question.questionType === 'open'">
            <mat-form-field appearance="outline">
              <textarea matInput class="answer-open" 
              [formControlName]="'answer'" 
              cdkTextareaAutosize 
              #autosize="cdkTextareaAutosize" 
              cdkAutosizeMinRows="1" 
              cdkAutosizeMaxRows="4" 
              minlength="1" 
              maxlength="255" 
              placeholder="Type your answer here">
              </textarea>
            </mat-form-field>
          </div>
          <ng-container *ngIf="question.questionType === 'single'">
            <mat-radio-group class="radio-group" [formControlName]="'answer'">
              <mat-radio-button *ngFor="let option of question.options" [value]="option">
                {{ option }}
              </mat-radio-button>
            </mat-radio-group>
          </ng-container>
          <ng-container *ngIf="question.questionType === 'multiple'">
            <div class="mat-checkbox" formArrayName="answer">
              <mat-checkbox *ngFor="let option of question.options; let i = index" [formControlName]="i">
                {{ option }}
              </mat-checkbox>
            </div>
          </ng-container>
        </form>
      </mat-card-content>

      <mat-card-actions class="answer-buttons" *ngIf="showAnswerButtons">
        <button class="answer-btn" 
          *ngIf="!question.answered" 
          mat-button type="submit" 
          (click)="submitAnswer(question.id)" 
          [disabled]="!answerForms[question.id].valid">
          Answer
        </button>
        <button class="rollback-btn" 
          *ngIf="question.answered" 
          mat-button color="warn" 
          (click)="onRollback(question.id)">
          Rollback
        </button>
      </mat-card-actions>

      <mat-card-actions class="edit-buttons" *ngIf="showActions">
        <button class="edit-btn" mat-button (click)="edit.emit(question.id)">Edit</button>
        <button class="delete-btn" mat-button color="warn" (click)="delete.emit(question.id)">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
