.manage-questions {
  max-width: 1400px;
  margin: 0 auto;
}

.manage-questions h1 {
  margin-bottom: 20px;
  font-weight: 400;
}

.manage-questions button {
  margin-bottom: 20px;
}

button.create-btn {
  background-color: #1C6E8C;
  color: #FFF;
}